/* 
button red hsl(345deg 76% 12%)

font font-family: 'Poppins', sans-serif;
*/
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

*{
     margin: 0px;
     padding: 0px;
}

body{
     font-family: 'Poppins', sans-serif;

}
.nav{
     align-items: center;
}

header{
     display: flex;
     justify-content: space-around;
     align-items: center;

}

.hero .logo{
     font-weight: 900;
}


header .nav{
     display: flex;
     gap:40px;

}

header .nav ul{
     display: flex;
     list-style-type: none;
     gap:40px;
}

nav ul li :not(:last-of-type){
margin-right:12px ;

}
.hero{
     margin: 0;
     background-image: url(images/landing-photo.jpg);
     background-size: cover;
     background-repeat:   no-repeat;
     background-position: center center;
}

.main{
     margin-top: 100px;
     margin-left: 200px;
     align-items: left;

    
}

.main .titles{
   padding:20px 0;
}

.main.paragraphs{
     
     padding: 20px;
     width: 400px;
}

/* .main*/ button  { 
     background-color:hsl(345deg 76% 12%) ;
margin: 40px 0px;
color: #fff;

padding:  8px 20px;
border: 1px solid black;
border-radius: 18px;
font-weight: 700;
cursor: pointer;
}

.second {
     display: flex;
     align-items: center;
     flex-direction: column;
}

.places{
     margin: 50px 0px;
     display: flex;
     align-items: center;
     flex-direction: column;
}
.places h1{
     font-weight: bold;
}

.cards {
     
     display: grid;
     grid-template-columns: 1fr 1fr 1fr ;
 gap: 40px;
 margin: 30px auto;
 

 }
 
 .card {
   
    border-radius: 16px;
 overflow: hidden;
 margin-bottom: 10px;
 display: flex;
 flex-direction: column;
 align-items:center ;


 }

 .imgContainer img{
     width: 300px;
     height: 200px;
 object-fit: cover;
 margin-bottom: 0px;
 justify-items: end;
 border: 1px solid #fff;
 border-radius: 12px 12px 0px 0px;
 
 }

 .card .bottom{
     display: flex;
 flex-direction: column;
 align-items:center;
margin-bottom: 40px;
 }

 .card .bottom p{
     width: 250px;
    
     
 }

 .card .bottom button{

     background-color: #fff;
     color: black;
     border: 1px solid black;
     border-radius: 20px;
     padding:10px 20px;
     font-weight: 900;

     margin-top: 20px;
     cursor: pointer;
 }

.footer{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     color: #fff;
     background-color: black;
     padding: 40px;
     align-items: center;
}

.right, .left{

     list-style-type: none;
}

 li{
     margin: 16px 0px;

}

.social{
     display: flex;
     flex-direction: column;

     
}

.social ul {
     display: flex;
     list-style-type: none ;
     justify-content: space-between;
}